<h6 class="mt-2 mb-3">Adres</h6>
    <div class="row">
        <div class="col">
          <p>Kod Kraju: </p>
        </div>
        <div class="col">
          <p>{{data.adres.KodKraju}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Wojewodztwo: </p>
        </div>
        <div class="col">
          <p>{{data.adres.Wojewodztwo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Powiat: </p>
        </div>
        <div class="col">
          <p>{{data.adres.Powiat}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Gmina: </p>
        </div>
        <div class="col">
          <p>{{data.adres.Gmina}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Ulica: </p>
        </div>
        <div class="col">
          <p>{{data.adres.Ulica}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Nr Domu: </p>
        </div>
        <div class="col">
          <p>{{data.adres.NrDomu}}</p>
        </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Miejscowosc: </p>
      </div>
      <div class="col">
        <p>{{data.adres.Miejscowosc}}</p>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <p>Kod Pocztowy: </p>
    </div>
    <div class="col">
      <p>{{data.adres.KodPocztowy}}</p>
    </div>
</div>
<div class="row">
  <div class="col">
    <p>Poczta: </p>
  </div>
  <div class="col">
    <p>{{data.adres.Poczta}}</p>
  </div>
</div>
{% if data.ad_zagraniczny %}

<h6>Adres zagraniczny:</h6>
<div class="row">
  <div class="col">
    <p>Miejscowosc: </p>
  </div>
  <div class="col">
    <p>{{data.ad_zagraniczny.Miejscowosc}}</p>
  </div>
</div>
{% else %}
  <p></p>
{%endif%}