{% load viewer_tags %} 
<section>
  <div class="accordion" id="accordionBilans">
    <div class="card shadow">
      <div class="card-header" id="headingFour">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <h5><strong>Bilans</strong></h5>
            <h6>zgodnie z Załącznikiem Nr 1 do ustawy o rachunkowości</h6>
          </button>
        </h2>
      </div>
      <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordionBilans">
        <div class="card-body">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" style="width:50%"></th>
                <th scope="col">Kwota na dzień kończący bieżący rok obrotowy</th>
                <th scope="col">Kwota na dzień kończący poprzedni rok obrotowy</th>
                <th scope="col">Przekształcone dane porównawcze za poprzedni rok obrotowy</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in data.Bilans.items %}
              <tr>
                <th scope="row">{{ desc| get_item:key }}</th>
                <td>{{value.KwotaA |thousands}}</td>
                <td>{{value.KwotaB |thousands}}</td>
                <td>{{value.KwotaC |thousands}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>