{% extends 'esfviewer/base.html' %}
{% load static %}

{% block content %}    
  <div class="container">
    <div class="row">
      <h4 class="mt-5 mb-5 text-center" style="color: white;">INFORMACJA ZE SPRAWOZDANIA FINANSOWEGO, O KTÓRYM MOWA W ART. 45 USTAWY, DLA JEDNOSTEK INNYCH NIŻ BANKI, ZAKŁADY UBEZPIECZEŃ I ZAKŁADY REASEKURACJI</h3>
    </div>
    <div>
      {% include 'esfviewer/report.html' %}
    </div>
    <div>
      {% include 'esfviewer/naglowek.html' %}
    </div>
    
    <div>
      {% include 'esfviewer/wprowadzenie.html' %}
    </div>
    <div>
      {% include 'esfviewer/zasady.html' %}
    </div>
    <br>
    <div>
      {% include 'esfviewer/bilans.html'%}
    </div>

    <div>
      {% include 'esfviewer/rzis.html'%}
    </div>
    
    <div>
      {% include 'esfviewer/zmiany.html'%}
    </div>
    
    <div>
      {% include 'esfviewer/rachunek_zmian.html'%}
    </div>
  </div>
{% endblock %}