<section>
    <div class="accordion" id="accordionReport">
      <div class="card shadow">
        <div class="card-header" id="headingZero">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
              <h5><strong>Raport</strong></h5>
            </button>
          </h2>
        </div>
        <div id="collapseZero" class="collapse show" aria-labelledby="headingZero" data-parent="#accordionReport">
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3 mb-3">Dane podatnika:</dt>
              <dd class="col-sm-9 mb-3"></dd>
              <dt class="col-sm-3 ml-2"><li>NIP:</li> </dt>
              <dd class="col-sm-7">{{data.nip|default_if_none:'Brak przedstawionego numberu NIP'}}</dd>
              <dt class="col-sm-3 ml-2"><li>Nazwa Podmiotu:</li> </dt>
              <dd class="col-sm-7">{{data.podmiot.NazwaFirmy}}</dd>
              <dt class="col-sm-3 ml-2"><li>PKD:</li> </dt>
              <dd class="col-sm-7">{% for kod in data.pkd%} {{kod}} {% endfor %}</dd>
              <dt class="col-sm-3 ml-2"><li>Okres sprawozdania:</li></dt>
              <dd class="col-sm-7">
                <dl class="row">
                  <dt class="col-sm-4">Data Od:</dt>
                  <dd class="col-sm-8">{{data.okres_sprawozdania.DataOd}}</dd>
                  <dt class="col-sm-4">Data Do:</dt>
                  <dd class="col-sm-8">{{data.okres_sprawozdania.DataDo}}</dd>
                </dl>
              </dd>

              <dt class="col-sm-3 mt-3 mb-3">Wskaźniki:</dt>
              <dd class="col-sm-9 mt-3 mb-3"></dd>

              <dt class="col-sm-4 ml-2"><li>Marża operacyjna:</li></dt>
              <dd class="col-sm-6">{{data.marza_operacyjna|floatformat:3}} %</dd>
  
              <dt class="col-sm-4 ml-2"><li>Marża zysku brutto:</li></dt>
              <dd class="col-sm-6">{{data.marza_zysku_brutto|floatformat:3}} %</dd>
  
              <dt class="col-sm-4 ml-2"><li>Rentowność aktywów:</li></dt>
              <dd class="col-sm-6">{{data.rentownosc_aktywow|floatformat:3}} %</dd>
              
              <dt class="col-sm-4 ml-2"><li>Rentowność kapitału własnego:</li></dt>
              <dd class="col-sm-6">{{data.rentownosc_kapitalu_wlasnego|floatformat:3}}%</dd>
              
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>
  