<h6 class="mt-2 mb-3">Siedziba</h6>
    <div class="row">
        <div class="col">
          <p>Wojewodztwo: </p>
        </div>
        <div class="col">
          <p>{{data.siedziba.Wojewodztwo}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Powiat: </p>
        </div>
        <div class="col">
          <p>{{data.siedziba.Powiat}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Gmina: </p>
        </div>
        <div class="col">
          <p>{{data.siedziba.Gmina}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <p>Miejscowość: </p>
        </div>
        <div class="col">
          <p>{{data.siedziba.Miejscowosc}}</p>
        </div>
    </div>