{% load viewer_tags %}
<section>
    <div class="accordion" id="accordionIntro">
      <div class="card shadow">
        <div class="card-header" id="headingTwo">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h5><strong>Wprowadzenie do sprawozdania finansowego</strong></h5>
            </button>
          </h2>
        </div>
        <div id="collapseTwo" class="collapse hide" aria-labelledby="headingTwo" data-parent="#accordionIntro">
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-3">Nazwa Podmiotu: </dt>
              <dd class="col-sm-9"><u>{{data.Wprowadzenie.Nazwa_siedziba.NazwaFirmy}}</u></dd>
              
              <dt class="col-sm-3">Siedziba:</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">Województwo:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Nazwa_siedziba.Wojewodztwo}}</dd>
                  <dt class="col-sm-4">Powiat:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Nazwa_siedziba.Powiat}}</dd>
                  <dt class="col-sm-4">Gmina:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Nazwa_siedziba.Gmina}}</dd>
                  <dt class="col-sm-4">Miejscowość:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Nazwa_siedziba.Miejscowosc}}</dd>
                </dl>
              </dd>

              <dt class="col-sm-3">Adres:</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">Kod Kraju:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.KodKraju}}</dd>
                  <dt class="col-sm-4">Województwo:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Wojewodztwo}}</dd>
                  <dt class="col-sm-4">Powiat:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Powiat}}</dd>
                  <dt class="col-sm-4">Gmina:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Gmina}}</dd>
                  {% if data.Wprowadzenie.Adres.Ulica %}
                  <dt class="col-sm-4">Ulica:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Ulica}}</dd>
                  {% endif %}
                  <dt class="col-sm-4">Nr Domu:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.NrDomu}}</dd>
                  {% if data.Wprowadzenie.Adres.NrLokalu %}
                  <dt class="col-sm-4">NrLokalu:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.NrLokalu}}</dd>
                  {% endif %}
                  <dt class="col-sm-4">Miejscowość:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Miejscowosc}}</dd>
                  <dt class="col-sm-4">Kod Pocztowy:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.KodPocztowy}}</dd>
                  <dt class="col-sm-4">Poczta:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.Adres.Poczta}}</dd>
                </dl>
              </dd>
              {% if data.Wprowadzenie.AdresPrzedsiebiorcyZagranicznego %}
              <dt class="col-sm-3">Adres zagraniczny:</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">Miejscowość:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.AdresPrzedsiebiorcyZagranicznego.Miejscowosc}}</dd>
                  <dt class="col-sm-4">Kod Kraju:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.AdresPrzedsiebiorcyZagranicznego.KodKraju}}</dd>
                </dl>
              </dd>
              {% endif %}

              {% if data.Wprowadzenie.PKD %}
              <dt class="col-sm-3">PKD: </dt>
              <dd class="col-sm-9">{{ data.Wprowadzenie.PKD.KodPKD}} {{data.Wprowadzenie.PKD.KodyPKD }}</dd>
              {% else %}
              <dt class="col-sm-3">PKD: </dt>
              <dd class="col-sm-9">Brak podanych PKD w niniejszym sprawozdaniu</dd>
              {% endif %}


              {% if data.Wprowadzenie.NIP %}
              <dt class="col-sm-3">NIP: </dt>
              <dd class="col-sm-9">{{data.Wprowadzenie.NIP}}</dd>
              {% else %}
              <dt class="col-sm-3">NIP: </dt>
              <dd class="col-sm-9">Nie podano numeru NIP</dd>
              {% endif %}

              {% if data.Wprowadzenie.KRS %}
              <dt class="col-sm-3">KRS: </dt>
              <dd class="col-sm-9">{{data.Wprowadzenie.KRS}}</dd>
              {% else %}
              <dt class="col-sm-3">KRS: </dt>
              <dd class="col-sm-9">Nie podano numeru KRS w sprawozdaniu</dd>
              {% endif %}
              
              
              <dt class="col-sm-3">Okres sprawozdania:</dt>
              <dd class="col-sm-9">
                <dl class="row">
                  <dt class="col-sm-4">Data Od:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.ZakresDat.DataOd}}</dd>
                  <dt class="col-sm-4">Data Do:</dt>
                  <dd class="col-sm-8">{{data.Wprowadzenie.ZakresDat.DataDo}}</dd>
                </dl>
              </dd>
              {% if data.Wprowadzenie.OgranicCzasDzialalnosci %}
              <dt class="col-sm-6 mb-3">Czas trwania działalności jednostki, jeżeli jest ograniczony: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.OgranicCzasDzialalnosci}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.SprFinDaneLaczne %}
              <dt class="col-sm-6 mb-3">Wskazanie, czy sprawozdanie finansowe zawiera dane łączne, jeżeli w skład jednostki wchodzą wewnętrzne jednostki organizacyjne sporządzające samodzielne sprawozdania finansowe: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.SprFinDaneLaczne|to_bool|yesno:"Sprawozdanie finansowe zawiera dane łącznie,Sprawozdanie nie zawiera danych łącznych"}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.Uproszczenia %}
              <dt class="col-sm-6 mb-3">Wskazanie zastosowanych zasad rachunkowości przewidzianych dla jednostek mikro z wyszczególnieniem wybranych uproszczeń: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.Uproszczenia}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.Kontynuacja %}
              <dt class="col-sm-6 mb-3">Wskazanie, czy sprawozdanie finansowe zostało sporządzone przy założeniu kontynuowania działalności gospodarczej przez jednostkę w dającej się przewidzieć przyszłości: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.Kontynuacja.P_5A|to_bool|yesno:'Tak, Nie'}}</dd>
              <dt class="col-sm-6 mb-3">Wskazanie, czy nie istnieją okoliczności wskazujące na zagrożenie kontynuowania przez nią działalności: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.Kontynuacja.P_5B|to_bool|yesno:"Brak okoliczności wskazujących na zagrożenie kontynuowania działalności,Wystąpiły okoliczności wskazujące na zagrożenie kontynuowania działalności"}}</dd>
              <dt class="col-sm-6 mb-3">Opis okoliczności wskazujących na zagrożenie kontynuowania działalności </dt>
              {% endif %}

              {% if data.Wprowadzenie.KontynuacjaDzialalnosci %}
              <dt class="col-sm-6 mb-3">Wskazanie, czy sprawozdanie finansowe zostało sporządzone przy założeniu kontynuowania działalności gospodarczej przez jednostkę w dającej się przewidzieć przyszłości: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.KontynuacjaDzialalnosci.P_5A|to_bool|yesno:'Tak, Nie'}}</dd>
              <dt class="col-sm-6 mb-3">Wskazanie, czy nie istnieją okoliczności wskazujące na zagrożenie kontynuowania przez nią działalności: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.KontynuacjaDzialalnosci.P_5B|to_bool|yesno:"Brak okoliczności wskazujących na zagrożenie kontynuowania działalności,Wystąpiły okoliczności wskazujące na zagrożenie kontynuowania działalności"}}</dd>
              
              {% endif %}
              {% if data.Wprowadzenie.KontynuacjaDzialalnosci.P_5C %}
              <dt class="col-sm-6 mb-3">Opis okoliczności wskazujących na zagrożenie kontynuowania działalności </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.KontynuacjaDzialalnosci.P_5C}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.Kontynuacja.P_5C %}
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.Kontynuacja.P_5C}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.SprFinPoPolaczeniu %}
              <dt class="col-sm-6 mb-3">W przypadku sprawozdania finansowego sporządzonego za okres, w ciągu którego nastąpiło połączenie spółek, wskazanie, że jest to sprawozdanie finansowe sporządzone po połączeniu spółek: </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.SprFinPoPolaczeniu.P_6A|to_bool|yesno:"sprawozdanie sporządzone po połączeniu spółek, sprawozdanie sporządzone przed połączeniem"}}</dd>

              <dt class="col-sm-6 mb-3">Wskazanie zastosowanej metody rozliczenia połączenia (nabycia, łączenia udziałów): </dt>
              <dd class="col-sm-6 mb-3">{{data.Wprowadzenie.SprFinPoPolaczeniu.P_6B}}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>
    </div>
</section>