<section>
    <div class="accordion" id="accordionZasady">
      <div class="card shadow">
        <div class="card-header" id="headingThree">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-center" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              <h5><strong>Zasady (polityka) rachunkowości</strong></h5>
            </button>
          </h2>
        </div>
        <div id="collapseThree" class="collapse hide" aria-labelledby="headingThree" data-parent="#accordionZasady">
          <div class="card-body">
            <dl class="row">
              <dt class="col-sm-2">Metody wyceny aktywów i pasywów (także amortyzacji)</dt>
              <dd class="col-sm-10">{{data.Wprowadzenie.Zasady.P_7A}} {{data.Wprowadzenie.Zasady.P_6A}}</dd>

              <dt class="col-sm-2">Zasady ustalenia wyniku finansowego</dt>
              <dd class="col-sm-10">{{data.Wprowadzenie.Zasady.P_7B}} {{data.Wprowadzenie.Zasady.P_6B}}</dd>

              <dt class="col-sm-2">Sposób sporządzenia sprawozdania finansowego</dt>
              <dd class="col-sm-10">{{data.Wprowadzenie.Zasady.P_7C}} {{data.Wprowadzenie.Zasady.P_6C}}</dd>

              {% if data.Wprowadzenie.Zasady.P_7D %}
              <dt class="col-sm-2">Inne</dt>
              <dd class="col-sm-10">{{data.Wprowadzenie.Zasady.P_7D}}</dd>
              {% endif %}

              {% if data.Wprowadzenie.Zalozenia%}
              <dt class="col-sm-2">Zalożenia</dt>
              <dd class="col-sm-10">{{data.Wprowadzenie.Zalozenia}}</dd>
              {% endif %}
            </dl>
          </div>
        </div>
      </div>
    </div>
  </section>